  Task1/Task1.csproj  
   Task1/bin/Debug/net7.0/Task1.deps.json
   Task1/bin/Debug/net7.0/Task1.dll
   Task1/bin/Debug/net7.0/Task1.exe
   Task1/bin/Debug/net7.0/Task1.pdb
   Task1/bin/Debug/net7.0/Task1.runtimeconfig.json
   Task1/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
  Task1/obj/Debug/net7.0/Task1.AssemblyInfo.cs
   Task1/obj/Debug/net7.0/Task1.AssemblyInfoInputs.cache
  Task1/obj/Debug/net7.0/Task1.GeneratedMSBuildEditorConfig.editorconfig
  Task1/obj/Debug/net7.0/Task1.GlobalUsings.g.cs
   Task1/obj/Debug/net7.0/Task1.assets.cache
  Task1/obj/Debug/net7.0/Task1.csproj.AssemblyReference.cache
   Task1/obj/Debug/net7.0/Task1.csproj.CoreCompileInputs.cache
   Task1/obj/Debug/net7.0/Task1.csproj.FileListAbsolute.txt
   Task1/obj/Debug/net7.0/Task1.dll
   Task1/obj/Debug/net7.0/Task1.genruntimeconfig.cache
  Task1/obj/Debug/net7.0/Task1.pdb
   Task1/obj/Debug/net7.0/apphost.exe
   Task1/obj/Debug/net7.0/ref/Task1.dll
   Task1/obj/Debug/net7.0/refint/Task1.dll
  Task1/obj/Task1.csproj.nuget.dgspec.json
  Task1/obj/Task1.csproj.nuget.g.props
   Task1/obj/Task1.csproj.nuget.g.targets
   Task1/obj/project.assets.json
  Task1/obj/project.nuget.cache
   Task2/Task2.csproj

   Task2/bin/Debug/net7.0/Task2.deps.json
   Task2/bin/Debug/net7.0/Task2.dll
  Task2/bin/Debug/net7.0/Task2.exe
   Task2/bin/Debug/net7.0/Task2.pdb
   Task2/bin/Debug/net7.0/Task2.runtimeconfig.json
   Task2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
   Task2/obj/Debug/net7.0/Task2.AssemblyInfo.cs
   Task2/obj/Debug/net7.0/Task2.AssemblyInfoInputs.cache
   Task2/obj/Debug/net7.0/Task2.GeneratedMSBuildEditorConfig.editorconfig
   Task2/obj/Debug/net7.0/Task2.GlobalUsings.g.cs
   Task2/obj/Debug/net7.0/Task2.assets.cache
   Task2/obj/Debug/net7.0/Task2.csproj.AssemblyReference.cache
   Task2/obj/Debug/net7.0/Task2.csproj.CoreCompileInputs.cache
   Task2/obj/Debug/net7.0/Task2.csproj.FileListAbsolute.txt
   Task2/obj/Debug/net7.0/Task2.dll
   Task2/obj/Debug/net7.0/Task2.genruntimeconfig.cache
  Task2/obj/Debug/net7.0/Task2.pdb
   Task2/obj/Debug/net7.0/apphost.exe
   Task2/obj/Debug/net7.0/ref/Task2.dll
   Task2/obj/Debug/net7.0/refint/Task2.dll
   Task2/obj/Task2.csproj.nuget.dgspec.json
   Task2/obj/Task2.csproj.nuget.g.props
   Task2/obj/Task2.csproj.nuget.g.targets
  Task2/obj/project.assets.json
   Task2/obj/project.nuget.cache
   Task3/Task3.csproj

   Task3/bin/Debug/net7.0/Task3.deps.json
   Task3/bin/Debug/net7.0/Task3.dll
   Task3/bin/Debug/net7.0/Task3.exe
  Task3/bin/Debug/net7.0/Task3.pdb
   Task3/bin/Debug/net7.0/Task3.runtimeconfig.json
   Task3/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
  Task3/obj/Debug/net7.0/Task3.AssemblyInfo.cs
  Task3/obj/Debug/net7.0/Task3.AssemblyInfoInputs.cache
   Task3/obj/Debug/net7.0/Task3.GeneratedMSBuildEditorConfig.editorconfig
  Task3/obj/Debug/net7.0/Task3.GlobalUsings.g.cs
  Task3/obj/Debug/net7.0/Task3.assets.cache
  Task3/obj/Debug/net7.0/Task3.csproj.AssemblyReference.cache
  Task3/obj/Debug/net7.0/Task3.csproj.CoreCompileInputs.cache
   Task3/obj/Debug/net7.0/Task3.csproj.FileListAbsolute.txt
  Task3/obj/Debug/net7.0/Task3.dll
  Task3/obj/Debug/net7.0/Task3.genruntimeconfig.cache
  Task3/obj/Debug/net7.0/Task3.pdb
  Task3/obj/Debug/net7.0/apphost.exe
   Task3/obj/Debug/net7.0/ref/Task3.dll
  Task3/obj/Debug/net7.0/refint/Task3.dll
   Task3/obj/Task3.csproj.nuget.dgspec.json
   Task3/obj/Task3.csproj.nuget.g.props
   Task3/obj/Task3.csproj.nuget.g.targets
   Task3/obj/project.assets.json
   Task3/obj/project.nuget.cache
  Task4/Task4.csproj

  Task4/bin/Debug/net7.0/Task4.deps.json
  Task4/bin/Debug/net7.0/Task4.dll
  Task4/bin/Debug/net7.0/Task4.exe
   Task4/bin/Debug/net7.0/Task4.pdb
   Task4/bin/Debug/net7.0/Task4.runtimeconfig.json
   Task4/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
   Task4/obj/Debug/net7.0/Task4.AssemblyInfo.cs
   Task4/obj/Debug/net7.0/Task4.AssemblyInfoInputs.cache
   Task4/obj/Debug/net7.0/Task4.GeneratedMSBuildEditorConfig.editorconfig
   Task4/obj/Debug/net7.0/Task4.GlobalUsings.g.cs
   Task4/obj/Debug/net7.0/Task4.assets.cache
   Task4/obj/Debug/net7.0/Task4.csproj.AssemblyReference.cache
  Task4/obj/Debug/net7.0/Task4.csproj.CoreCompileInputs.cache
   Task4/obj/Debug/net7.0/Task4.csproj.FileListAbsolute.txt
  Task4/obj/Debug/net7.0/Task4.dll
  Task4/obj/Debug/net7.0/Task4.genruntimeconfig.cache
   Task4/obj/Debug/net7.0/Task4.pdb
   Task4/obj/Debug/net7.0/apphost.exe
  Task4/obj/Debug/net7.0/ref/Task4.dll
  Task4/obj/Debug/net7.0/refint/Task4.dll
   Task4/obj/Task4.csproj.nuget.dgspec.json
  Task4/obj/Task4.csproj.nuget.g.props
  Task4/obj/Task4.csproj.nuget.g.targets
  Task4/obj/project.assets.json
   Task4/obj/project.nuget.cache

   bonucTask/bin/Debug/net7.0/bonucTask.deps.json
   bonucTask/bin/Debug/net7.0/bonucTask.dll
  bonucTask/bin/Debug/net7.0/bonucTask.exe
   bonucTask/bin/Debug/net7.0/bonucTask.pdb
   bonucTask/bin/Debug/net7.0/bonucTask.runtimeconfig.json
   bonucTask/bonucTask.csproj
   bonucTask/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs       
  bonucTask/obj/Debug/net7.0/apphost.exe
   bonucTask/obj/Debug/net7.0/bonucTask.AssemblyInfo.cs
  bonucTask/obj/Debug/net7.0/bonucTask.AssemblyInfoInputs.cache
   bonucTask/obj/Debug/net7.0/bonucTask.GeneratedMSBuildEditorConfig.editorconfig  
  bonucTask/obj/Debug/net7.0/bonucTask.GlobalUsings.g.cs
  bonucTask/obj/Debug/net7.0/bonucTask.assets.cache
   bonucTask/obj/Debug/net7.0/bonucTask.csproj.AssemblyReference.cache
 bonucTask/obj/Debug/net7.0/bonucTask.csproj.CoreCompileInputs.cache
 bonucTask/obj/Debug/net7.0/bonucTask.csproj.FileListAbsolute.txt
   bonucTask/obj/Debug/net7.0/bonucTask.dll
  bonucTask/obj/Debug/net7.0/bonucTask.genruntimeconfig.cache
   bonucTask/obj/Debug/net7.0/bonucTask.pdb
   bonucTask/obj/Debug/net7.0/ref/bonucTask.dll
   bonucTask/obj/Debug/net7.0/refint/bonucTask.dll
          bonucTask/obj/bonucTask.csproj.nuget.dgspec.json
          bonucTask/obj/bonucTask.csproj.nuget.g.props
        bonucTask/obj/bonucTask.csproj.nuget.g.targets
        bonucTask/obj/project.assets.json
       bonucTask/obj/project.nuget.cache